---
title: Human Verification
description: 
url: https://www.semanticscholar.org/paper/CodePlan%3A-Repository-level-Coding-using-LLMs-and-Bairi-Sonwane/f81a1b4510631d14b5b565c4701ee056f8d5c72f
timestamp: 2025-01-20T15:59:08.472Z
domain: www.semanticscholar.org
path: paper_CodePlan%3A-Repository-level-Coding-using-LLMs-and-Bairi-Sonwane_f81a1b4510631d14b5b565c4701ee056f8d5c72f
---

# Human Verification



## Content

Human Verification
=============== 

![Image 4](blob:https://www.semanticscholar.org/eeb8ff871b20791d771f8160e1b575dd)Temporary error. Please try again.

![Image 5](blob:https://www.semanticscholar.org/eeb8ff871b20791d771f8160e1b575dd)Before proceeding to your request, you need to solve a puzzle, and the puzzle requires Google Translate to be disabled. Please disable Google Translate and retry.

Let's confirm you are human
===========================

Complete the security check before continuing. This step verifies that you are not a bot, which helps to protect your account and prevent spam.

Begin![Image 6: begin](blob:https://www.semanticscholar.org/779b3395f11278e4dca8a34b00b2f1bf)

## Metadata

```json
{
  "warning": "Target URL returned error 405: Method Not Allowed",
  "title": "Human Verification",
  "description": "",
  "url": "https://www.semanticscholar.org/paper/CodePlan%3A-Repository-level-Coding-using-LLMs-and-Bairi-Sonwane/f81a1b4510631d14b5b565c4701ee056f8d5c72f",
  "content": "Human Verification\n=============== \n\n![Image 4](blob:https://www.semanticscholar.org/eeb8ff871b20791d771f8160e1b575dd)Temporary error. Please try again.\n\n![Image 5](blob:https://www.semanticscholar.org/eeb8ff871b20791d771f8160e1b575dd)Before proceeding to your request, you need to solve a puzzle, and the puzzle requires Google Translate to be disabled. Please disable Google Translate and retry.\n\nLet's confirm you are human\n===========================\n\nComplete the security check before continuing. This step verifies that you are not a bot, which helps to protect your account and prevent spam.\n\nBegin![Image 6: begin](blob:https://www.semanticscholar.org/779b3395f11278e4dca8a34b00b2f1bf)",
  "usage": {
    "tokens": 190
  }
}
```
